In [1]:
import pandas as pd

In [2]:
s1 = pd.read_excel('Output20.xlsx')
s2 = pd.read_excel('Output21.xlsx')
s3 = pd.read_excel('Output22.xlsx')
s4 = pd.read_excel('Output24.xlsx')
s5 = pd.read_excel('Output25.xlsx')

In [3]:
s = s1*.15 + s2*.15 + s3*.15 + s4*.15 + s5*.4
s.head()

          Price
0  15594.996099
1   8960.355743
2  15868.448991
3  45122.823093
4   7361.786716

In [4]:
s.to_excel('e2.xlsx', index=False)